{% extends 'main.html' %}

{% block content %}
<div class="container px-5">
    <br><br>
    <h3>Pushups logger</h3>
    <p>Nowoczesna aplikacja do kontrolowania ilości zrobionych pompek!</p>
        <b>Aktualne funkcjonalności:</b>
        <ul>
            <li>Własny profil, na którym sprawdzisz swoje treningi i dodasz nowe!</li>
            <li>Rankingi użytkowników:</li>
            <ul>
                <li>Top 5 - najwięcej powtórzeń w tygodniu!</li>
                <li>Top 3 - największa ilość treningów w miesiącu!</li>
            </ul>
            <li>Kontakt oraz dodatkowe informacje!</li>
        </ul>
    <br><br>
</div>
{% endblock content %}