{% extends 'main.html' %} {% load static %} {% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'base/user.css' %}" />
{% endblock style%} {% block content %}
<div class="container p-4">
  <div class="profile_info">
    <img class="profile_avatar" src="{{ user.avatar.url }}" />
    <h3>{{user.imie}}</h3>
    <h2>{{user.username}}</h2>
    <h2>{{user.wiek}}</h2>
  </div>
  <div class="profile_about col-4">
    <h3>About</h3>
    <p>{{user.opis}}</p>
  </div>
  {% if request.user == user %}
  <a href="{% url 'add-pushup' %}">Dodaj trening</a>
  <a href="{% url 'update-user' %}">Edit profile</a>
  {% endif %}
</div>
{% endblock content %}
